@()(id: String)

@main("Welcome to Retrospectives") {
  <h1>Welcome to Retrospectives</h1>
  <a href="@routes.RetrospectiveController.display(id)">Display</a>
  <a href="@routes.RetrospectiveController.participate(id)">Participate</a>
}
