@(id: String, r: model.Retrospective)(implicit request: Request[AnyContent])

@main("Retrospectives") {
  <h1>Retrospective</h1>
  <img src="@{routes.QRController.qrCode(routes.RetrospectiveController.disambiguate(id).absoluteURL)}"/>
  @{r.comments.size}
  @for(comment <- r.comments){
    <div>
        <h3>@{comment.typeOf}</h3>
        <div>
            @{comment.content}
        </div>
    </div>
  }
}
