@()(implicit request: RequestHeader)

@main("Welcome to Retrospectives") {
  <h1>Welcome to Retrospectives</h1>
  @helper.form(helper.CSRF(routes.RetrospectiveController.newRetrospective)) {
    <button type="submit">New Retrospective</button>
  }
}
