@(id: String, commentForm: Form[model.Comment])(implicit request: RequestHeader, messages: Messages)

@main("Welcome to Retrospectives") {
  <h1>New Comment</h1>
  @helper.form(helper.CSRF(routes.RetrospectiveController.newComment(id))) {
    @helper.inputText(commentForm("content"))
    <div>
      <select
        class="form-control"
        id="@commentForm("type").id"
        name="type">
        @for(t <- model.CommentTypeNames.all){
            <option id="@t" value="@t">@t</option>
        }
      </select>
      <span class="help-block">@{commentForm("type").error.map { error => error.message }}</span>
    </div>
    <button type="submit">Comment</button>
  }
}
